:root {
  --Orange: hsl(25, 97%, 53%);

  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);

  --Font-size: 15px;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Overpass", serif;
  font-size: 1.6rem;
  line-height: 2;
}
